<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title  } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: null , configHeader:configHeader, currpage : currpage  }); %>
        </header>
        <main>
          <h3>Report</h3>
                    <div class="row">
                      <div class="col-25">
                        <div class="container">    
                            <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b></b></span></h4> 
                            <% if (currpage == "Product") { %>
                                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> </span>Log, Number<b><span id="numberItems"></span></b></h4> 
                                </span>
                              <%}%>
                              <div class="table-responsive-lg table-striped  w-auto">
                                <table class="table table-striped table-hover">
                                    <thead>
                                      <tr>
                                        <th>#Mã</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá tiền</th>
                                        <th>Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                
            
                                    <%Object.keys(itemlist).forEach(function(item) { %>
                                        <tr style="vertical-align:middle;align-items: center ;">
                                            <td style="vertical-align:middle;align-items: center ;"><%=itemlist[item].id%></td>
                                            <td style="vertical-align:middle;align-items: center ;"><%=itemlist[item].name%></td>
                                            <td style="vertical-align:middle;align-items: center ;"><%=itemlist[item].number%></td>
                                            <td style="vertical-align:middle;align-items: center ;"><%=itemlist[item].price%></td>
                                            <%const total = itemlist[item].price * itemlist[item].number%>
                                        <td style="vertical-align:middle;align-items: center ;"><%=total%></td>
                                            
                                        </tr>                   
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-50">
                          <div class = "container">
                           <form>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                  <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                  <input type="text" id="email" name="email" placeholder="john@example.com">
                                  <label for="branch"><i class="fa fa-building"></i> Branch</label>
                                  <input type="text" id="branch" name="branch" placeholder="New York">
                              <script>
                                $(document).ready(function(){
                                    $('button').click(function(){
                                        alert('Your report has sent !!!');
                                })
                                })
                                
                            </script>
                              <button type="submit" value="" class="btn-report">Send</button>
                            </form>
                          </div>
                        </div>
                      </div>  
        </main>
        
        
    <%- include ('../template/footer'); %>
    

</body>

</html> 